* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2.8rem;
  color: #fff;
  height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(
    to top left,
    rgba(255, 0, 0, 0.5),
    rgba(0, 0, 255, 0.5)
  );
  display: flex;
  align-items: center;
}
h2 {
  padding: 1.2rem;
  text-align: center;
  width: 100%;
}
